body{
    margin: 0;
    box-sizing: border-box;
}

.chair {
    float: left;
    padding-right: 100px;
}

.head {
    margin-top: 100px;
    font-size: 3rem;
    font-weight: bolder;
    /* font-family: 'Spartan', sans-serif; */
    color: rgb(9, 9, 51);
}

.des {
    /* font-family: 'Spartan', sans-serif; */
    color: slategrey;
    font-size: 20px;
}

.dark {
    clear: left;
    display: flex;
}

.Furniture {
    font-size: 2rem;
    font-weight: 500;
    /* font-family: 'Spartan', sans-serif; */
    color: rgb(9, 9, 51);
    position: absolute;
    left: 500px;
    bottom: 100px;
}

.furdes {
    position: absolute;
    left: 435px;
    bottom: -50px;
    /* font-family: 'Spartan', sans-serif; */
    color: slategrey;
    font-size: 20px;
    max-width: 600px;
    margin-left: 20px;

}

.upper {
    display: flex;
}

.light {
    position: absolute;
    bottom: 370px;
    top: 540px;
    right: 0px;
}

.bg-img {
    position: absolute;
}

.headLinks {
    text-decoration: none;
    color: white;
    /* font-family: 'Spartan', sans-serif; */
    margin-left: 50px;
    font-size: 20px;
    /* font-weight: 540; */
}

.headLinks:hover {
    color: #4f4f4f;
}

.brand {
    font-weight: 800;
    margin-right: 30px;
    font-size: 30px;
    font-family: 'Spartan', sans-serif;
}

span {
    position: absolute;
    right: 519px;
    top: 451px;
    background-color: black;
    color: white;
}

.btn {
    font-size: 70px;
    color: white;
    text-decoration: none;
    padding: 40px 20px;
}