body{
    margin: 0;
    box-sizing: border-box;
}

.chair {
    /* float: left; */
    padding-right: 100px;
}

.head {
    margin-top: 100px;
    font-size: 3rem;
    font-weight: bolder;
    /* font-family: 'Spartan', sans-serif; */
    color: rgb(9, 9, 51);
}

.menu-btn {
    visibility: hidden;
}

.des {
    /* font-family: 'Spartan', sans-serif; */
    color: slategrey;
    font-size: 20px;
}

.dark {
    clear: left;
    display: flex;
}

.Furniture {
    font-size: 2rem;
    font-weight: 500;
    /* font-family: 'Spartan', sans-serif; */
    color: rgb(9, 9, 51);
    /* position: absolute;
    left: 500px;
    bottom: 100px; */
}

.furdes {
    /* position: absolute;
    left: 435px;
    bottom: -50px; */
    /* font-family: 'Spartan', sans-serif; */
    color: slategrey;
    font-size: 20px;
    /* max-width: 600px; */
}

.bot_des {
    margin-left: 20px;
}

/* .upper {
    display: flex;
} */

.upper_description {
    margin-right: 20px;
}

/* .light {
    position: absolute;
    bottom: 370px;
    top: 535px;
    right: 0px;
} */



.bg-img {
    position: absolute;
    margin-top: 10px;
}

.headLinks {
    text-decoration: none;
    color: white;
    /* font-family: 'Spartan', sans-serif; */
    margin-left: 50px;
    font-size: 20px;
    /* font-weight: 540; */
}

.headLinks:hover {
    color: #4f4f4f;
}

.brand {
    font-weight: 800;
    margin-right: 30px;
    font-size: 30px;
    font-family: 'Spartan', sans-serif;
}

span {
    position: absolute;
    right: 439px;
    top: 451px;
    background-color: black;
    color: white;
}

.btn {
    font-size: 70px;
    color: white;
    text-decoration: none;
    padding: 40px 40px;
    cursor: pointer;
}

.btn:hover {
    color: slategray;
}

.mySlides {
    display: flex;
}

@keyframes fading {
  from {
      opacity: 0.5;
  }

  to {
      opacity: 1;
  }
}

.fade {
    animation-name: fading;
    animation-duration: 1s;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: lightgrey;
    margin-top: 30px;
}

img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1293px) {
    .chair {
        width: 60vw;
    }

    .container {
        visibility: hidden;
    }

    span {
        top: 54%;
    }

    .light {
        width: 70%;
        height: 70%;
    }

    .head, .des, .Furniture, .furdes{
        text-align: center;
    }

    .menu-btn {
        visibility: visible;
        position: absolute;
        z-index: 5;
        right: 1rem;
        top: 1rem;
        height: 20px;
        width: 28px;
        cursor: pointer;
        /* background-color: black; */
    }
      
    .menu-btn .menu__burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
    }
      
    .menu-btn .menu__burger::before {
        content: '';
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
    }
      
    .menu-btn .menu__burger::after {
        content: '';
        position: absolute;
        top: 8px;
        width: 20px;
        height: 3px;
    }
      
          


@media (max-width: 900px) {
    .mySlides {
        flex-direction: column;
    }

    .chair {
        width: 100%;
        height: 100%;
    }

    .dark {
        flex-direction: column;
    }

    .light {
        width: 100%;
    }

    #nextPrev {
        position: absolute;
        top: 52vw;
        right: 0px;

    }

    .btn {
        font-size: 8vw;
        padding: 20px 20px;
    }
}